{% extends "game/base.html" %} 
{% block title %}Dashboard - ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
{% block content %}

<h2>Dashboard</h2>

Please choose a poker table to start : 

<ul>
  {% for game in games %}
  <li>
    <strong><a href="{% url 'table' game.id %}">{{ game.name }}</a></strong> - 
    {{ game.get_game_type_display }} ({{ game.get_betting_type_display }}) - 
    Players: {{ game.players.count }}/{{ game.max_players }} - Buy-in: {{ game.buy_in }}
  </li>
  {% empty %}
    <li>Sorry, no available tables at the moment.</li>
  {% endfor %}
</ul>

{% endblock %}
