{% extends "game/base.html" %}

{% block title %}Dashboard - Poker{% endblock %}

{% block content %}

<h2>Hello {{nickname}}!</h2>

{% if games %}
    <ul>
    {% for game in games %}
        <li>
            Table Code: {{ game.code }} - Buy-in: {{ game.buy_in }} - 
            Max Players: {{ game.max_players }} - Status: {{ game.status }}
            <form method="post" action="{% url 'join_game' game.code %}">
                {% csrf_token %}
                <button type="submit">Join</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No available tables at the moment. Please check back later.</p>
{% endif %}

{% endblock %}