{% extends "game/base.html" %} 
{% block title %}{{ game.name }} -  ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
{% block content %}

<!---------------------------------------------------------------------------
  Game information
---------------------------------------------------------------------------->

<h1>{{ game.name }}</h1>
<p>
  {{ game.get_game_type_display }} ({{ game.get_betting_type_display }}) {{ game.max_players}}&nbsp;players.<br>
  Buy-in: {{ game.buy_in }} - Blinds: {{ game.small_blind }}&nbsp;/&nbsp;{{ game.big_blind }}<br>
  Game status: <span id="game-status">{{ game.status }}</span>
</p>

<!-- Join / Leave Table Button  -->
<p>
  <button id="join-button" onclick="sendJoin()">Join Table</button>
  <button id="leave-button" onclick="sendLeave()">Leave Table</button>
</p>
<hr>

<!---------------------------------------------------------------------------
  Players information
---------------------------------------------------------------------------->
<h2>Players</h2>
<ul id="players-list">
  {% for player in players %}
    <li data-position="{{ player.position }}">
      {{ player.user.username }} [{{ player.position }}] Game Chips [{{ player.chips}}] Bet [{{ player.current_bet}}] Folded [{{player.has_folded}}] Checked [{{player.has_checked}}]
    </li>
  {% endfor %}
</ul>
  
<p>
<!-- Dealer -->
Dealer : <span id="dealer">
  {% for player in players %} 
    {% if player.position == game.dealer_position %}
      {{ player.user.username }}   
    {% endif %}
  {% empty %}
    
  {% endfor %}
</span> 
<br>

<!-- Turn -->
Next to play : <span id="current-turn">
  {% for player in players %}
    {% if player.position == game.current_turn %}
      {{ player.user.username }}
    {% endif %}
  {% empty %}
    
  {% endfor %}
</span><br>

<!-- Phase -->
Current Phase : <span id="current-phase">{{ game.current_phase }}</span><br>

<!-- Pot -->
Current Pot : <span id="current-pot">{{ game.pot }}</span><br>

</p>
<br>
<hr>


<!---------------------------------------------------------------------------
  Community cards
---------------------------------------------------------------------------->
<span id="community-cards" style="display: none;">{{ game.community_cards }}</span>
<h2>Community cards</h2>
<span id="communityCardsContainer"></span>

<!---------------------------------------------------------------------------
  Your cards
---------------------------------------------------------------------------->
<div id="action-buttons-container" style="display: block;">
    <h2>Your cards</h2>

    <p id="hole-cards">
      [ No cards ]
    </p>
    
    <button onclick="sendAction('fold')" class="action-button">Fold</button>
    <button onclick="sendAction('check')" class="action-button">Check</button>
    <button onclick="sendAction('call')" class="action-button">Call</button>
    <button onclick="placeBet()" class="action-button">Bet</button>&nbsp;<input type="number" id="bet-amount" class="action-button" min="1" max="999999" value="10" oninput="validateBetInput(this)">

</div>
<br>
<hr>

<!---------------------------------------------------------------------------
  Messages
---------------------------------------------------------------------------->
<h2>Messages</h2>
<ul id="action-messages"></ul>


<!---------------------------------------------------------------------------
  Javascript  
---------------------------------------------------------------------------->

<script>

  let gameId = "{{ game.id }}";  // Get the game ID
  let username = "{{ request.user.username }}";  // Get the current user's name
  let reconnectInterval = 5000;  // 5 seconds before trying to reconnect
  let currentTurnUsername = "{{ current_turn_username }}";  // Get initial turn username
  let gamePhase = "{{ game.current_phase }}";
  const joinButton = document.getElementById("join-button");
  const leaveButton = document.getElementById("leave-button");

  
  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function sendAction(action) {
    // Ensure WebSocket is open before sending data
    if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ action: action, player: username }));
    } else {
        console.warn("WebSocket is not open. Cannot send action.");
    }
  }

  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function validateBetInput(input) {
        // Ensure the value is between 1 and 999999
        if (input.value < 1) {
            input.value = 1;
        } else if (input.value > 999999) {
            input.value = 999999;
        }
    }

  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function placeBet() {
        var betAmount = document.getElementById("bet-amount").value;
        if (betAmount >= 1 && betAmount <= 999999) {
            sendBet(parseInt(betAmount));  // Call your betting function
        } else {
            alert("Invalid bet amount! Please enter a value between 1 and 999999.");
        }
  }
  
  function sendBet(amount) {
    socket.send(JSON.stringify({ action: "bet", player: username, amount: amount }));
  }


  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function updatePlayerList(players) {
    const playerList = document.getElementById("players-list");
    
    // const playerCount = document.getElementById("player-count");

    // Clear current list
    playerList.innerHTML = "";

    // Update player count
    // playerCount.innerText = players.length;

    // Add updated players
    players.forEach(player => {
        const li = document.createElement("li");
        li.setAttribute("data-position", player.position);
        li.textContent = `${player.username} [${player.position}] Game Chips [${player.game_chips}] Bet [${player.current_bet}] Folded [${player.has_folded}] Checked [${player.has_checked}] `;
        playerList.appendChild(li);
    });
  }



  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function displayCards(cards, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ""; // Clear previous cards

    cards.forEach(card => {
        let rank, suit, icon, color = "black";
      
        rank = card[0]; // A, K, Q, J, 9, etc.
        suit = card[1]; // d, c, h, s
        icon = "♠︎";

        if (suit == "d") {
          icon = "♦︎";
          color = "red";
        } else if (suit == "c") {
          icon = "♣︎";
        } else if (suit == "h") {
          icon = "♥︎";
          color = "red";
        }

        if (rank == "T") {
          rank = "10";
        }

        const span = document.createElement("span");
        span.className = `${color}`;
        span.innerHTML = `[&nbsp;${rank}&nbsp;${icon}&nbsp;] `;
        container.appendChild(span);
    });
  }

  // -------------------------------------------------------------
  // Function to extract cards from the hidden span & update UI
  // -------------------------------------------------------------
  function loadInitialCommunityCards() {
      const communityCardsText = document.getElementById("community-cards").innerText.trim();

      // Ensure we have valid data
      if (communityCardsText.length > 0 && communityCardsText !== "[]") {
          try {
              // Convert raw Django output to a clean array format
              let communityCardsArray = communityCardsText.replace(/[\[\]']/g, "").split(", ");
              displayCards(communityCardsArray, "communityCardsContainer");
          } catch (error) {
              console.error("Error parsing community cards:", error);
          }
      }
    }

    // Run on page load
    // document.addEventListener("DOMContentLoaded", function () {
    //     loadInitialCommunityCards();
    // });                 


  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function connectWebSocket() {

    socket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);
    socket.onopen = function () {
      document.getElementById("action-messages").innerHTML = "";
    };


    socket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      
      // Debugging: Log received data
      console.log("🔵 WebSocket Message Received:", data);

      if (data) {

        // Alert user if error detected
        if (data.error !== undefined) {
          alert(data.error);
        }

         // Update game status
        if (data.game_status !== undefined) {
          document.getElementById("game-status").innerText = data.game_status;
        }

        // Update game phase
        if (data.current_phase !== undefined) {
          document.getElementById("current-phase").innerText = data.current_phase;
        }

        // Update current pot
        if (data.pot !== undefined) {
          document.getElementById("current-pot").innerText = data.pot;
        }

        // Update community cards
        if (data.community_cards !== undefined) {
          displayCards(data.community_cards, "communityCardsContainer");
        }

        // Display hole cards if available
        if (data.hole_cards && data.hole_cards.length > 0) {
          displayCards(data.hole_cards, "hole-cards");

        }

        // Update total user chips
        if (data.total_user_chips >= 0) {
          document.getElementById("total_user_chips").innerText = data.total_user_chips
        }


        // Update dealer's position
        if (data.dealer_position !== undefined) {
          document.getElementById("dealer").innerText = 
          data.players.find(p => p.position === data.dealer_position)?.username || "";
        }

        // Update current turn player
        if (data.current_turn !== undefined) {
          document.getElementById("current-turn").innerText =
            data.players.find(p => p.position === data.current_turn)?.username || "";
        }

        // Handle players list
        if (data.players) {
          updatePlayerList(data.players);

          const isPlayer = data.players.some(player => player.username === username);
          const playerCount = data.players.length;
          const maxPlayers = parseInt("{{ game.max_players }}");
  
        }

        // Enable or disable action button
        if (data.current_username || data.current_username === "") {
          let actionButtons = document.querySelectorAll(".action-button");
          actionButtons.forEach(button => {
              if (typeof username !== "" && username === data.current_username && data.game_status === "active" && data.current_phase !== "showdown") {
                  button.disabled = false;  // Enable for current turn user
              } else {
                  button.disabled = true;   // Disable for others
              }
          });
        }


      }
      
    
      // Handle action messages
      if (data.messages) {
          
          let messagesList = document.getElementById("action-messages");
          messagesList.innerHTML = ""; 

          // Ensure the `ul` element exists before modifying
          if (!messagesList) {
              console.error("Error: 'action-messages' element not found!");
              return;
          }
          data.messages.forEach(msg => {
              let li = document.createElement("li");
              li.innerText = msg;
              messagesList.insertBefore(li, messagesList.firstChild);
          });
      }

    };


    socket.onclose = function (event) {
      console.warn("WebSocket Disconnected. Reconnecting in 5 seconds...");
      setTimeout(connectWebSocket, reconnectInterval);  // Auto-reconnect
    };


    socket.onerror = function (error) { 
      socket.close();  // Force reconnect on error
    };

  }



  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function sendJoin() {
    socket.send(JSON.stringify({ action: "join", player: username }));
  }

  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function sendLeave() {
    document.getElementById("hole-cards").innerText = "[ No cards ]"
    socket.send(JSON.stringify({ action: "leave", player: username }));
  }



  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  window.onload = function() {
    // Ensure buttons are enabled correctly on page load
    const actionButtons = document.querySelectorAll(".action-button");
    if (currentTurnUsername === username) {
        actionButtons.forEach(button => button.disabled = false);
    } else {
        actionButtons.forEach(button => button.disabled = true);
    }

    if (gamePhase === "showdown") {
        actionButtons.forEach(button => button.disabled = true);
    }
    // Load initial community cards
    loadInitialCommunityCards();
  };



  // Initial WebSocket Connection
  connectWebSocket();

</script>

{% endblock %}