{% extends "game/base.html" %} 
    {% block title %}{{ game.name }} -  ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
    {% block meta %}
    <!-- Temporary refresh for testing purpose -->
    <meta http-equiv="refresh" content="5">
    {% endblock %}
    {% block content %}

    <h2>{{ game.name }} ({{ game.get_game_type_display }} - {{ game.get_betting_type_display }})</h2>
    <p>Buy-in: {{ game.buy_in }} - Blinds: {{ game.small_blind }}/{{ game.big_blind }}</p>
    <p>Blind Timer: {{ game.blind_timer }} minutes{% if game.blind_timer == 0 %} (No increase){% endif %}</p>
    <p>Status: <strong>{{ game.status }}</strong></p>
    <hr>

    <h3>Players ({{ players.count }}/{{ game.max_players }})</h3>
    <ul>
        {% for player in players %}
            <li>{{ player.user.username }} : Sitting {{ player.position }} | Chips : {{ player.chips }}
                {% if player.position == game.current_turn %} > Your Turn! {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p>
        {% for player in players %}
          {% if player.position == game.dealer_position %}
            Dealer : {{ player.user.username }}
          {% endif %}
        {% endfor %}
    </p>

    <!-- <p>Current Turn: 
        {% for player in players %}
          {% if player.position == game.current_turn %}
            <strong>{{ player.user.username }}</strong>
          {% endif %}
        {% endfor %}
      </p> -->


    {% if not is_player and players|length < game.max_players %}
        <form action="{% url 'join_table' game.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Join Table</button>
        </form>
    {% endif %}

   

    <!-- Show actions only if the current player is in the game AND it's their turn -->
    {% if is_player %}
    <hr>
    {% for player in players %}
        {% if player.user == request.user and player.position == game.current_turn %}
            <h3>Perform Action:</h3>
            <form method="post" action="{% url 'player_action' game.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="check">Check</button>
                <button type="submit" name="action" value="fold">Fold</button>
            </form>
        {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Show message if it's NOT the player's turn -->
    {% if is_player %}
    {% for player in players %}
        {% if player.user == request.user and player.position != game.current_turn %}
            <p>Waiting for other players...</p>
        {% endif %}
    {% endfor %}
    {% endif %}

    <br><br><br>
    <form action="{% url 'leave_table' game.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Leave Table</button>
    </form>
    {% endif %}

{% endblock %}
