{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} ♦︎ ♣︎ ♥︎ ♠︎ {% endblock %}</title>
    {% tailwind_css %}
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block meta %}{% endblock %}
  </head>

  <body class="bg-cyan-900 text-white p-6 text-base">
 
    <!---------------------------------
    Header & Menu
    ---------------------------------->
    {% if user.is_authenticated %}
    <header>

      <div class="flex flex-wrap justify-between items-center p-4 bg-gray-800 rounded-lg">
        
       

        <div>
          <span class="inline-block w-3 h-3 border border-white mr-1" style="background-color: {{ user.profile.avatar_color }};"></span> 
          {{user.username}} has <span id="total_user_chips">
            <script>
              chips = {{ user.profile.chips}};
              document.write(chips.toLocaleString('fr-CA'));  
             </script>
          </span> chips.
        </div>

        <nav class="hidden md:flex space-x-8">
          {% if request.user.is_staff %}
          <a href="/admin" class="hover:underline">Admin</a>
          {% endif %}
          <a href="/" class="hover:underline">Dashboard</a>
          <a href="{% url 'profile' %}" class="hover:underline">Profile</a>
          <!-- <a href="{% url 'stats' %}" class="hover:underline">Stats</a> -->
          <a href="{% url 'logout_validation' %}" class="hover:underline">Logout</a>
        </nav>

        <div class="md:hidden">
          <button id="menu-btn" class="block hamburger focus:outline-none">
              <span class="hamburger-top block w-6 h-0.5 bg-white mb-1.5 transition-all duration-300"></span>
              <span class="hamburger-middle block w-6 h-0.5 bg-white mb-1.5 transition-all duration-300"></span>
              <span class="hamburger-bottom block w-6 h-0.5 bg-white transition-all duration-300"></span>
          </button>
        </div>

      </div>


      <div id="mobile-menu" class="hidden md:hidden bg-gray-800 mt-2 mb-2 p-4 rounded-lg duration-300">
        <nav class="flex flex-col space-y-4">
            {% if request.user.is_staff %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/">Dashboard</a>
            <a href="{% url 'profile' %}">Profile</a>
            <!-- <a href="{% url 'stats' %}">Stats</a> -->
            <a href="{% url 'logout_validation' %}">Logout</a>
        </nav>
      </div>

    </header>
    {% endif %}


    <!---------------------------------
    Main content
    ---------------------------------->
    <main class="my-6">
    {% block content %}{% endblock %}
    </main>
    

    <!---------------------------------
    Footer
    ---------------------------------->
    <footer>
      <div class="flex flex-wrap justify-between items-center py-8">
        <div class="text-gray-400 text-sm">
          v.{{ VERSION }} by Phil Boivin.
          <div class="tracking-[0.3em]">♦︎♣︎♥︎♠︎</div> 
        </div>
      </div>
    </footer>


    <!---------------------------------
    JavaScript
    ---------------------------------->
    <script>
      // Toggle mobile menu
      const menuBtn = document.getElementById('menu-btn');
      const mobileMenu = document.getElementById('mobile-menu');
      menuBtn.addEventListener('click', function() {
          mobileMenu.classList.toggle('hidden');
          menuBtn.classList.toggle('menu-open');
      });
    </script>

  </body>
</html>
