{% extends "game/base.html" %} 
{% block title %}{{ game.name }} -  ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
{% block content %}
{% comment %}
Main game interface for active poker tables.
Includes:
- Game metadata and status
- Community cards and player lists
- Buttons for poker actions (fold, bet, etc.)
- Real-time updates using WebSockets
{% endcomment %}

<div class="bg-gray-800 rounded-lg w-full py-2 px-4 pb-8 text-center">
<!---------------------------------------------------------------------------
Game information
---------------------------------------------------------------------------->

<div class="md:w-3/5 lg:w-1/2 p-4 mx-auto">
  <h1 class="text-xl md:text-2xl my-2">{{ game.name }}</h1>
  <div class="text-sm">{{ game.get_game_type_display }} ({{ game.get_betting_type_display }}) {{ game.max_players}}&nbsp;players.</div>
  <div class="text-sm">Buy-in: {{ game.buy_in }} - Blinds: {{ game.small_blind }}&nbsp;/&nbsp;{{ game.big_blind }}</div>
  <div class="text-sm">Game status: <span id="game-status" style="text-transform: capitalize;">{{ game.status }}</span></div>
  
  <!-- Join / Leave Table Button  -->
  <button id="join-button" onclick="sendJoin()" 
    class="my-4 p-2 mr-2 bg-emerald-600 hover:bg-emerald-500 text-white rounded-lg text-center shadow-xl">Join Table</button>
  <button id="leave-button" onclick="sendLeave()" 
    class="my-4 p-2 bg-red-900 hover:bg-red-800 text-white rounded-lg text-center shadow-xl">Leave Table</button>
</div>

<!---------------------------------------------------------------------------
Players List
---------------------------------------------------------------------------->
<ul id="players-list" class="flex flex-wrap justify-center gap-4 w-full my-4 p-4"></ul>


<!---------------------------------------------------------------------------
Community cards
---------------------------------------------------------------------------->
<span id="community-cards" style="display: none;">{{ game.community_cards }}</span>

<div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">
  <h2 class="text-xl"><span id="current-phase" style="text-transform: capitalize;">{{ game.current_phase }}</span></h2>

  <div class="flex flex-col my-6">
    <div class="flex gap-2" id="communityCardsContainer"></div>
  </div>

  <div>
    Total Pot : <span id="current-pot">
     <script>
      pot = {{ game.get_pot}};
      document.write(pot.toLocaleString('fr-CA'));  
     </script>
    </span>
  </div>
  
</div>


  <!---------------------------------------------------------------------------
  Player cards and actions
  ---------------------------------------------------------------------------->
<div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">

    <div class="text-l">Your cards</div>
    <div class="flex gap-2 pt-2 pb-6" id="hole-cards"></div>

    <div class="flex gap-4">
        <button onclick="sendAction('fold')" class="bg-gradient-to-r from-red-600 to-red-500 text-white px-4 py-2 rounded shadow-xl action-button">Fold</button>
        <button onclick="sendAction('check')" class="bg-gradient-to-r from-blue-600 to-blue-500 text-white px-4 py-2 rounded shadow-xl action-button">Check</button>
        <button onclick="sendAction('call')" class="bg-gradient-to-r from-green-600 to-green-500 text-white px-4 py-2 rounded shadow-xl action-button">Call</button>
        <!-- <button class="bg-gradient-to-r from-purple-600 to-purple-500 text-white px-4 py-2 rounded shadow-xl action-button">All-In</button> -->
    </div>
    <div class="flex gap-4 mt-4">
        <input type="number" id="bet-amount" placeholder="Bet Amount" min="1" max="999999999" value="{{ game.big_blind }}" 
          oninput="validateBetInput(this)" class="bg-gray-600 text-white p-2 rounded shadow-xl">
        <button onclick="placeBet()" class="bg-gradient-to-r from-yellow-600 to-yellow-500 text-white px-4 py-2 rounded shadow-xl action-button">Bet</button>
    </div>
</div>

<!---------------------------------------------------------------------------
Messages
---------------------------------------------------------------------------->

  <div class="text-left md:w-3/5 lg:w-1/2 p-4 mx-auto">
    <h2 class="text-lg md:text-xl my-2">Last messages</h2>
    <ul id="action-messages"></ul>
  </div>


   <!-- Overlay message -->
   <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden">
    <div id="overlayContent" class="bg-gray-500 p-8 rounded-lg shadow-xl text-center max-w-md w-full">
        <p id="overlayMessage" class="text-xl text-gray-200 font-bold tracking-wide"></p>
    </div>
  </div>

</div>

<!---------------------------------------------------------------------------
End of HTML














Javascript  
---------------------------------------------------------------------------->

<script>

  let gameId = "{{ game.id }}";  // Get the game ID
  let username = "{{ request.user.username }}";  // Get the current user's name
  let reconnectInterval = 5000;  // 5 seconds before trying to reconnect
  let currentTurnUsername = "{{ current_turn_username }}";  // Get initial turn username
  let currentPhase = "{{ game.current_phase }}";
  let gameStatus = "{{ game.status }}";
  let isPlayer = {{ is_player|yesno:"true,false" }};

  // Global queue to store incoming messages
  let messageQueue = [];
  let isProcessingQueue = false;


  /* -----------------------------------------------------------------------
  * Establishes WebSocket connection to the backend.
  * Handles real-time updates, reconnects, and message parsing.
  * ----------------------------------------------------------------------*/
  function connectWebSocket() {

    socket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);

    socket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      console.log("🔵 WebSocket Message Received:", data); // Debug


      if (data) {

        // Alert user if error detected
        if (data.error !== undefined) {
          showTemporaryMessage(data.error, "error", 1000);
        }

        // Update players list
        if (data.players) {
          renderPlayersList(data.players, "players-list");
          isPlayer = data.players.some(player => player.username === username);
        } 

        // Update buttons state
        if (data.type === "update_game_state") {
          gameStatus = data.game_status;
          currentUsername = data.current_username;
          currentPhase = data.current_phase;
          buttonsStateMachine(gameStatus, currentPhase, currentUsername, username, isPlayer);
        }

         // Update game status
        if (data.game_status !== undefined) {
          document.getElementById("game-status").innerText = data.game_status;
        }

        // Update game phase
        if (data.current_phase !== undefined) {
          document.getElementById("current-phase").innerText = data.current_phase;
        }

        // Update current pot
        if (data.pot !== undefined) {
          num = data.pot.toLocaleString('fr-CA');
          document.getElementById("current-pot").innerText = num;
        }

        // Update community cards
        if (data.community_cards !== undefined) {
          displayCards(data.community_cards, "communityCardsContainer");
        }

        // Display hole cards if available
        if (data.hole_cards && data.hole_cards.length > 0) {
          displayCards(data.hole_cards, "hole-cards");

        }

        // Update total user chips
        if (data.total_user_chips >= 0) {
          num = data.total_user_chips.toLocaleString('fr-CA');
          document.getElementById("total_user_chips").innerText = num;
        }
      
      }
      
      if (data.messages && data.messages.length > 0) {
        // Enqueue all incoming messages
        data.messages.forEach(msg => messageQueue.push(msg));
        // Trigger processing
        processQueue();
      }

    };


    socket.onclose = function (event) {
      console.warn("WebSocket Disconnected. Reconnecting in 5 seconds...");
      setTimeout(connectWebSocket, reconnectInterval);  // Auto-reconnect
    };


    socket.onerror = function (error) { 
      socket.close();  // Force reconnect on error
    };

  }

  /* -----------------------------------------------------------------------
  * Sends a poker action (fold, call, etc.) to the backend.
  * @param {string} action - Poker action keyword.
  * ----------------------------------------------------------------------*/
  function sendAction(action) {
    if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ action: action, player: username }));
    } else {
        console.warn("WebSocket is not open.");
    }
  }


  /* -----------------------------------------------------------------------
  * Sends a join request for the current user via WebSocket.
  * ----------------------------------------------------------------------*/
  function sendJoin() {
    if (socket.readyState === WebSocket.OPEN) {
      socket.send(JSON.stringify({ action: "join", player: username }));
      isPlayer = true;
    } else {
        console.warn("WebSocket is not open.");
    }
  }


  /* -----------------------------------------------------------------------
  * Sends a leave request for the current user via WebSocket.
  * ----------------------------------------------------------------------*/
  function sendLeave() {
    if (!confirm("Are you sure you want to leave the table?")) {
      return; // User canceled
    }
    if (socket.readyState === WebSocket.OPEN) {
      socket.send(JSON.stringify({ action: "leave", player: username }));
      document.getElementById("hole-cards").innerText = ""
      isPlayer = false;
    } else {
        console.warn("WebSocket is not open.");
    }
  }


  /* -----------------------------------------------------------------------
  * Ensures the bet amount is between 1 and 999999999.
  * @param {HTMLInputElement} input - Bet input element.
  * ----------------------------------------------------------------------*/
  function validateBetInput(input) {
        if (input.value < 0) {
            input.value = 1;
        } else if (input.value > 999999999) {
            input.value = 999999999;
        }
    }

  /* -----------------------------------------------------------------------
  * Reads input value and sends a valid bet to the backend.
  * ----------------------------------------------------------------------*/
  function placeBet() {
        var betAmount = document.getElementById("bet-amount").value;
        if (betAmount >= 1 && betAmount <= 999999999) {
            sendBet(parseInt(betAmount));  // Call your betting function
        } else {
            alert("Invalid bet amount! Please enter a value between 1 and 999999.");
        }
  }
  
  /* -----------------------------------------------------------------------
  * Sends a bet action with the specified amount.
  * @param {number} amount - Bet amount.
  * ----------------------------------------------------------------------*/
  function sendBet(amount) {
    socket.send(JSON.stringify({ action: "bet", player: username, amount: amount }));
  }



  /* -----------------------------------------------------------------------
  * Renders a list of cards into a container.
  * @param {Array<string>} cards - List of card strings (e.g., ["As", "Kd"]).
  * @param {string} containerId - DOM container ID.
  * ----------------------------------------------------------------------*/
  function displayCards(cards, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ""; // Clear previous cards

    cards.forEach(card => {
        let rank, suit, icon, color = "black";
      
        rank = card[0]; // A, K, Q, J, 9, etc.
        suit = card[1]; // d, c, h, s
        icon = "♠︎";

        if (suit == "d") {
          icon = "♦︎";
          color = "red";
        } else if (suit == "c") {
          icon = "♣︎";
        } else if (suit == "h") {
          icon = "♥︎";
          color = "red";
        }

        if (rank == "T") {
          rank = "10";
        }

        const div = document.createElement("div");
        div.className = `card ${color} shadow-xl`;
        div.innerHTML = `${rank}${icon}`;
        container.appendChild(div);
    });
  }


  /* -----------------------------------------------------------------------
  * Parses hidden card data from DOM and renders it visually.
  * ----------------------------------------------------------------------*/
  function loadInitialCommunityCards() {
      const communityCardsText = document.getElementById("community-cards").innerText.trim();

      // Ensure we have valid data
      if (communityCardsText.length > 0 && communityCardsText !== "[]") {
          try {
              // Convert raw Django output to a clean array format
              let communityCardsArray = communityCardsText.replace(/[\[\]']/g, "").split(", ");
              displayCards(communityCardsArray, "communityCardsContainer");
          } catch (error) {
              console.error("Error parsing community cards:", error);
          }
      }
    }


  
  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_action_buttons(status) {
    let actionButtons = document.querySelectorAll(".action-button");
    actionButtons.forEach(button => {
      if (status) {
        button.disabled = false;  // Enable for current turn user
        button.classList.add("bg-gradient-to-r");
        button.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
      } else {
        button.disabled = true;  // Disable for current turn user
        button.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
        button.classList.remove("bg-gradient-to-r");
      }
    });
  }


  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_join_button(status) {
    let joinButton = document.getElementById("join-button");

    if (status === true) {
      joinButton.disabled = false;
      joinButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      joinButton.disabled = true;
      joinButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }
    
  }


  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_leave_button(status) {
    let leaveButton = document.getElementById("leave-button");

    if (status === true) {
      leaveButton.disabled = false;
      leaveButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      leaveButton.disabled = true;
      leaveButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }

  }


  /* -----------------------------------------------------------------------
  * Central function that manages button visibility and states.
  * @param {string} gameStatus - "waiting", "active", "finished"
  * @param {string} currentPhase - Current game phase
  * @param {string} currentTurnUsername - Who is currently acting
  * @param {string} username - The current user's name
  * @param {string} isPlayer - "true" if user is seated at table
  * ----------------------------------------------------------------------*/
  function buttonsStateMachine(
    gameStatus,
    currentPhase,
    currentTurnUsername,
    username,
    isPlayer
  ) {
   
    // 1) disable everything by default
    enable_action_buttons(false);
    enable_join_button(false);
    enable_leave_button(false);

   
    // 2) if the game is finished => any seated player can leave
    if (gameStatus === "finished") {
      if (isPlayer === true) {
        enable_leave_button(true);
      }
      return;
    }

    // 3) if we are in showdown => no one can act,
    if (currentPhase === "showdown") {
      return;
    }

    // 4) if the game is waiting => non-players can join; players can leave
    if (gameStatus === "waiting") {
      if (isPlayer === false) {
        enable_join_button(true);
      }
      if (isPlayer === true) {
        enable_leave_button(true);
      }
      return;
    }

    // 5) if the game is active => only the current-turn player can act or leave
    if (gameStatus === "active") {
      if (isPlayer === true) {
        if (currentTurnUsername === username) {
          enable_action_buttons(true);
          enable_leave_button(true);
        }
      }
    }
  }


  /* -----------------------------------------------------------------------
  * Displays all players and their statuses (dealer, SB, BB, next to act).
  * @param {Array} players - List of player objects from backend
  * @param {string} containerId - ID of the HTML element where to render players
  * ----------------------------------------------------------------------*/
  function renderPlayersList(players, containerId = "players-list") {
    
    const playerList = document.getElementById(containerId);
    // In case the container doesn't exist or has changed
    if (!playerList) return;

    // Testing front-end
    // testObj = players[players.length -1];
    // for (let i = 0; i < 7; i++) {
    //   players.push({ ...testObj });
    // }


    // We re-apply the flex + layout classes
    playerList.setAttribute("class","flex flex-wrap justify-center gap-4 w-full my-4 p-4");

    // Clear existing
    playerList.innerHTML = "";

    // For each player object
    players.forEach(player => {
      const li = document.createElement("li");
      li.setAttribute("data-position", player.position);
      li.setAttribute("class", "flex flex-col items-center p-2 rounded-lg w-36 sm:w-1/3 lg:w-[18%] shadow-lg");
      
      // Dealer marker
      const dealerMarkup = player.is_dealer
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-black" style="background-color: white;">D</span>`
        : "";

      // Small blind
      const smallBlindMarkup = player.is_small_blind
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-white" style="background-color: blue;">S</span>`
        : "";

      // Big blind
      const bigBlindMarkup = player.is_big_blind
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-black" style="background-color: yellow;">B</span>`
        : "";

      // Has folded ?
      const foldMarkup = player.has_folded
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-black" style="background-color: red;">X</span>`
        : "";

      // Next to play ?
      if (player.is_next_to_play) {
        li.classList.add("bg-emerald-800");
        nextMarkup = `<span class="items-center justify-center text-white text-sm">Your turn</span>`;
      } else {
        li.classList.add("bg-gray-700");
        nextMarkup = "";
      }

      // Build the list item’s innerHTML
      li.innerHTML = `
        <span class="text-base">
          <span class="inline-block w-3 h-3 border border-white mr-1" style="background-color: ${player.avatar_color};"></span> 
          ${player.username}
        </span>
        <span class="text-sm">Table chips: ${player.game_chips}</span>
        <span class="text-sm">Bet: ${player.current_bet}</span>
        <span class="text-sm font-bold my-2">
          ${dealerMarkup}
          ${smallBlindMarkup}
          ${bigBlindMarkup}
          ${foldMarkup}
        </span>
         ${nextMarkup}
      `;

      playerList.appendChild(li);
    });
  }


  /* -----------------------------------------------------------------------
  * Displays a temporary overlay message on the screen.
  *
  * The overlay fades in with the specified message and background color depending on the type
  * ("error" or any other type). It then disappears after the given duration.
  *
  * @param {string} message - The text to display in the overlay.
  * @param {string} type - The type of message ("error" displays red background, others use gray).
  * @param {number} duration - How long the message stays visible in milliseconds (default is 1000ms).
  * ----------------------------------------------------------------------*/
  function showTemporaryMessage(message, type, duration = 1000) {
        // Get overlay elements
        const overlay = document.getElementById('overlay');
        const overlayContent = document.getElementById('overlayContent');
        const messageElement = document.getElementById('overlayMessage');

        // Set message text
        messageElement.textContent = message;

        // Show overlay
        overlay.classList.remove('hidden');
        overlay.classList.add('flex');

        // Change message background for error
        const isError = type === "error";
        overlayContent.classList.toggle('bg-red-700', isError);
        overlayContent.classList.toggle('bg-gray-500', !isError);

        // Hide overlay after specified duration
        setTimeout(() => {
            overlay.classList.remove('flex');
            overlay.classList.add('hidden');
        }, duration);
  }


  /* -----------------------------------------------------------------------
  * 
  * ----------------------------------------------------------------------*/
  function processQueue() {
    // If we're already processing, do nothing
    if (isProcessingQueue) return;

    // Mark that we're processing
    isProcessingQueue = true;

    // Start an async-like loop using setTimeout
    showNextMessage();
  }


  /* -----------------------------------------------------------------------
  * 
  * ----------------------------------------------------------------------*/
  function showNextMessage() {
    // If queue is empty, we're done
    if (messageQueue.length === 0) {
      isProcessingQueue = false;
      return;
    }

    // Otherwise, take the next message from the front of the queue
    const msg = messageQueue.shift();

    // Show it on the overlay for 1 second
    showTemporaryMessage(msg, "info", 1000); // your existing overlay function

    // After 1 second, append it to the #action-messages
    setTimeout(() => {
      const messagesList = document.getElementById("action-messages");
      
      // Remove the oldest item if we already have 10 (or any other limit you choose)
      const maxItems = 10;
      const existingItems = messagesList.querySelectorAll("li");
      if (existingItems.length >= maxItems) {
        // Remove the last li (i.e., the bottom-most item if new are inserted at the top)
        messagesList.removeChild(existingItems[existingItems.length - 1]);
      }

      // Insert the new message at the top
      const li = document.createElement("li");
      li.innerText = msg;
      messagesList.insertBefore(li, messagesList.firstChild);

      // Then move on to the next message
      showNextMessage();
    }, 1000);
}



  /* -----------------------------------------------------------------------
  * Initializes UI state and renders players/community cards on page load.
  * ----------------------------------------------------------------------*/
  window.onload = function() {

    // Update buttons state
    buttonsStateMachine(gameStatus, currentPhase, currentTurnUsername, username, isPlayer);
   
    // Load initial community cards
    loadInitialCommunityCards();
   
    // Load player's list
    let playersData = JSON.parse('{{ players_json|safe }}');
    renderPlayersList(playersData, "players-list");


    // Display messages
    const lastMessages = JSON.parse('{{ last_messages_json|safe }}');
    const messagesList = document.getElementById("action-messages");
    lastMessages.forEach(msg => {
      const li = document.createElement("li");
      li.innerText = msg;
      messagesList.insertBefore(li, messagesList.firstChild);
    });


  };


/* -----------------------------------------------------------------------
* Initial WebSocket Connection
* ----------------------------------------------------------------------*/
connectWebSocket();



</script>

{% endblock %}