{% extends "game/base.html" %} 
{% block title %}{{ game.name }} -  ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
{% block content %}


<div class="bg-gray-800 rounded-lg w-full py-2 px-4 pb-8 text-center">
<!---------------------------------------------------------------------------
  Game information
---------------------------------------------------------------------------->

<div class="md:w-3/5 lg:w-1/2 p-4 mx-auto">
  <h1 class="text-xl md:text-2xl my-2">{{ game.name }}</h1>
  <div class="text-sm">{{ game.get_game_type_display }} ({{ game.get_betting_type_display }}) {{ game.max_players}}&nbsp;players.</div>
  <div class="text-sm">Buy-in: {{ game.buy_in }} - Blinds: {{ game.small_blind }}&nbsp;/&nbsp;{{ game.big_blind }}</div>
  <div class="text-sm">Game status: <span id="game-status" style="text-transform: capitalize;">{{ game.status }}</span> (<span id="current-phase" style="text-transform: capitalize;">{{ game.current_phase }}</span>)</div>
  <div class="text-sm">
    
      <!-- Dealer -->
      Dealer : <span id="dealer">
        {% for player in players %} 
          {% if player.position == game.dealer_position %}
            {{ player.user.username }}   
          {% endif %}
        {% empty %}
          
        {% endfor %}
      </span> 
      <br>
      
      <!-- Turn -->
      Next to play : <span id="current-turn">
        {% for player in players %}
          {% if player.position == game.current_turn %}
            {{ player.user.username }}
          {% endif %}
        {% empty %}
          
        {% endfor %}
      </span>
      
      
  </div>
  
  <!-- Join / Leave Table Button  -->
    <button id="join-button" onclick="sendJoin()" 
      class="my-4 p-2 mr-2 bg-emerald-600 hover:bg-emerald-500 text-white rounded-lg text-center shadow-lg">Join Table</button>
    <button id="leave-button" onclick="sendLeave()" 
      class="my-4 p-2 bg-red-900 hover:bg-red-800 text-white rounded-lg text-center shadow-lg">Leave Table</button>

</div>

<!---------------------------------------------------------------------------
  Players information
---------------------------------------------------------------------------->

<ul id="players-list" class="flex flex-wrap justify-center gap-4 w-full my-4 p-4">
  {% for player in players %}
    <li data-position="{{ player.position }}"
        class="flex flex-col items-center p-2 bg-gray-700 rounded-lg w-36 sm:w-1/2 lg:w-[18%] shadow-lg">
      <span class="text-sm">
        <span class="inline-block w-3 h-3 rounded-full border border-white" style="background-color: {{ player.user.profile.avatar_color }};"></span> 
        {{ player.user.username }} [{{ player.position }}]</span>
      <span class="text-sm">Table chips: {{ player.chips }}</span>
      <span class="text-sm">Bet: {{ player.current_bet }}</span>
      <span class="text-xs">Folded [{{ player.has_folded }}] Checked [{{ player.has_checked }}]</span>
      <!-- <span class="text-xs text-green-400">
        {% if player.position == game.dealer_position %}
          Dealer
        {% endif %}
      </span> -->
    </li>
  {% endfor %}
</ul>
  


<!---------------------------------------------------------------------------
  Community cards
---------------------------------------------------------------------------->
<span id="community-cards" style="display: none;">{{ game.community_cards }}</span>

  <div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">
  <h2 class="text-xl">Community cards</h2>
  <div>
    Total Pot : <span id="current-pot">{{ game.get_pot }}</span>
  </div>
  <div class="flex flex-col my-6">
    <div class="flex gap-2" id="communityCardsContainer"></div>
  </div>
  
</div>


 <!---------------------------------------------------------------------------
  Player cards and actions
  ---------------------------------------------------------------------------->
  <div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">

    <div class="text-l">Your cards</div>
    <div class="flex gap-2 pt-2 pb-6" id="hole-cards"></div>

  <div class="flex gap-4">
      <button onclick="sendAction('fold')" class="bg-red-500 px-4 py-2 rounded action-button">Fold</button>
      <button onclick="sendAction('check')" class="bg-yellow-500 px-4 py-2 rounded action-button">Check</button>
      <button onclick="sendAction('call')" class="bg-green-500 px-4 py-2 rounded action-button">Call</button>
      <button class="bg-blue-500 px-4 py-2 rounded action-button">All-in</button>
  </div>
  <div class="flex gap-4 mt-4">
      <input type="number" id="bet-amount" placeholder="Bet Amount" min="1" max="999999999" value="{{ game.big_blind }}" 
        oninput="validateBetInput(this)" class="bg-gray-600 text-white p-2 rounded">
      <button onclick="placeBet()" class="bg-purple-500 px-4 py-2 rounded action-button">Bet</button>
  </div>
</div>

<!---------------------------------------------------------------------------
  Messages
---------------------------------------------------------------------------->

  <div class="text-left md:w-3/5 lg:w-1/2 p-4 mx-auto">
    <h2 class="text-lg md:text-xl my-2">Last messages</h2>
    <ul id="action-messages"></ul>
  </div>

</div>


<!---------------------------------------------------------------------------
End of HTML














Javascript  
---------------------------------------------------------------------------->

<script>

  let gameId = "{{ game.id }}";  // Get the game ID
  let username = "{{ request.user.username }}";  // Get the current user's name
  let reconnectInterval = 5000;  // 5 seconds before trying to reconnect
  let currentTurnUsername = "{{ current_turn_username }}";  // Get initial turn username
  let gamePhase = "{{ game.current_phase }}";
  let gameStatus = "{{ game.status }}";
  let isPlayer = "{{ is_player }}";

  
  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function sendAction(action) {
    // Ensure WebSocket is open before sending data
    if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ action: action, player: username }));
    } else {
        console.warn("WebSocket is not open. Cannot send action.");
    }
  }

  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function validateBetInput(input) {
        if (input.value < 0) {
            input.value = 1;
        } else if (input.value > 999999999) {
            input.value = 999999999;
        }
    }

  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function placeBet() {
        var betAmount = document.getElementById("bet-amount").value;
        if (betAmount >= 1 && betAmount <= 999999999) {
            sendBet(parseInt(betAmount));  // Call your betting function
        } else {
            alert("Invalid bet amount! Please enter a value between 1 and 999999.");
        }
  }
  
  function sendBet(amount) {
    socket.send(JSON.stringify({ action: "bet", player: username, amount: amount }));
  }


  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function updatePlayerList(players) {
    const playerList = document.getElementById("players-list");
    playerList.innerHTML = "";
    players.forEach(player => {
      const li = document.createElement("li");
      li.setAttribute("data-position", player.position);
      li.setAttribute("class", "flex flex-col items-center p-2 bg-gray-700 rounded-lg w-30");

      li.innerHTML = `
          <span class="text-sm">
            <span class="inline-block w-3 h-3 rounded-full border border-white" style="background-color: ${player.avatar_color};"></span> 
            ${player.username } [${ player.position }]
          </span>
          <span class="text-sm">Table chips: ${player.game_chips}</span>
          <span class="text-sm">Bet: ${player.current_bet}</span>
          <span class="text-xs">Folded: ${player.has_folded} | Checked: ${player.has_checked}</span>
          <span class="text-xs text-green-400"></span>
      `;

      playerList.appendChild(li);
    });
  }



  // -------------------------------------------------------------
  //
  // -------------------------------------------------------------
  function displayCards(cards, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ""; // Clear previous cards

    cards.forEach(card => {
        let rank, suit, icon, color = "black";
      
        rank = card[0]; // A, K, Q, J, 9, etc.
        suit = card[1]; // d, c, h, s
        icon = "♠︎";

        if (suit == "d") {
          icon = "♦︎";
          color = "red";
        } else if (suit == "c") {
          icon = "♣︎";
        } else if (suit == "h") {
          icon = "♥︎";
          color = "red";
        }

        if (rank == "T") {
          rank = "10";
        }

        const div = document.createElement("div");
        div.className = `card ${color} shadow-xl`;
        div.innerHTML = `${rank}&nbsp;${icon}`;
        container.appendChild(div);
    });
  }

  // -------------------------------------------------------------
  // Function to extract cards from the hidden span & update UI
  // -------------------------------------------------------------
  function loadInitialCommunityCards() {
      const communityCardsText = document.getElementById("community-cards").innerText.trim();

      // Ensure we have valid data
      if (communityCardsText.length > 0 && communityCardsText !== "[]") {
          try {
              // Convert raw Django output to a clean array format
              let communityCardsArray = communityCardsText.replace(/[\[\]']/g, "").split(", ");
              displayCards(communityCardsArray, "communityCardsContainer");
          } catch (error) {
              console.error("Error parsing community cards:", error);
          }
      }
    }


  // -------------------------------------------------------------
  // 
  //
  //
  // -------------------------------------------------------------
  function connectWebSocket() {

    socket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);
    socket.onopen = function () {
      document.getElementById("action-messages").innerHTML = "";
    };

    socket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      console.log("🔵 WebSocket Message Received:", data); // Debug


      if (data) {

        // Alert user if error detected
        if (data.error !== undefined) {
          alert(data.error);
        }

        // Update buttons state
        if (data.type === "update_game_state") {
          let gameStatus = data.game_status;
          let currentUsername = data.current_username;
          let currentPhase = data.current_phase;
          buttonsStateMachine(gameStatus, currentPhase, currentUsername, username, isPlayer);
        }

         // Update game status
        if (data.game_status !== undefined) {
          document.getElementById("game-status").innerText = data.game_status;
        }

        // Update game phase
        if (data.current_phase !== undefined) {
          document.getElementById("current-phase").innerText = data.current_phase;
        }

        // Update current pot
        if (data.pot !== undefined) {
          document.getElementById("current-pot").innerText = data.pot;
        }

        // Update community cards
        if (data.community_cards !== undefined) {
          displayCards(data.community_cards, "communityCardsContainer");
        }

        // Display hole cards if available
        if (data.hole_cards && data.hole_cards.length > 0) {
          displayCards(data.hole_cards, "hole-cards");

        }

        // Update total user chips
        if (data.total_user_chips >= 0) {
          document.getElementById("total_user_chips").innerText = data.total_user_chips
        }


        // Update dealer's position
        if (data.dealer_position !== undefined) {
          document.getElementById("dealer").innerText = 
          data.players.find(p => p.position === data.dealer_position)?.username || "";
        }

        // Update current turn player
        if (data.current_turn !== undefined) {
          document.getElementById("current-turn").innerText =
            data.players.find(p => p.position === data.current_turn)?.username || "";
        }

        // Handle players list
        if (data.players) {
          updatePlayerList(data.players);
          let isPlayer = data.players.some(player => player.username === username);
          let playerCount = data.players.length;
          let maxPlayers = parseInt("{{ game.max_players }}");
  
        }


      }
      
    
      // Handle action messages
      if (data.messages) {
          
          let messagesList = document.getElementById("action-messages");
          messagesList.innerHTML = ""; 

          // Ensure the `ul` element exists before modifying
          if (!messagesList) {
              console.error("Error: 'action-messages' element not found!");
              return;
          }
          data.messages.forEach(msg => {
              let li = document.createElement("li");
              li.innerText = msg;
              messagesList.insertBefore(li, messagesList.firstChild);
          });
      }

    };


    socket.onclose = function (event) {
      console.warn("WebSocket Disconnected. Reconnecting in 5 seconds...");
      setTimeout(connectWebSocket, reconnectInterval);  // Auto-reconnect
    };


    socket.onerror = function (error) { 
      socket.close();  // Force reconnect on error
    };

  }



  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function sendJoin() {
    socket.send(JSON.stringify({ action: "join", player: username }));
    isPlayer = "true";
  }

  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function sendLeave() {
    document.getElementById("hole-cards").innerText = "[ No cards ]"
    socket.send(JSON.stringify({ action: "leave", player: username }));
    isPlayer = "false";
  }

  
  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------

  function enable_action_buttons(status) {
    let actionButtons = document.querySelectorAll(".action-button");
    actionButtons.forEach(button => {
      if (status) {
        button.disabled = false;  // Enable for current turn user
        button.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
      } else {
        button.disabled = true;  // Enable for current turn user
        button.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
      }
    });
  }


  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function enable_join_button(status) {
    let joinButton = document.getElementById("join-button");

    if (status === true) {
      joinButton.disabled = false;
      joinButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      joinButton.disabled = true;
      joinButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }
    
  }


  // -------------------------------------------------------------
  // 
  // -------------------------------------------------------------
  function enable_leave_button(status) {
    let leaveButton = document.getElementById("leave-button");

    if (status === true) {
      leaveButton.disabled = false;
      leaveButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      leaveButton.disabled = true;
      leaveButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }

  }


  // -------------------------------------------------------------
  // Set the state of each buttons
  // -------------------------------------------------------------
  function buttonsStateMachine(
    gameStatus,
    gamePhase,
    currentTurnUsername,
    username,
    isPlayer
  ) {
   
    // 1) disable everything by default
    enable_action_buttons(false);
    enable_join_button(false);
    enable_leave_button(false);

   
    // 2) if the game is finished => any seated player can leave
    if (gameStatus === "finished") {
      if (isPlayer === "true") {
        enable_leave_button(true);
      }
      return;
    }

    // 3) if we are in showdown => no one can act,
    if (gamePhase === "showdown") {
      return;
    }

    // 4) if the game is waiting => non-players can join; players can leave
    if (gameStatus === "waiting") {
      if (isPlayer === "false") {
        enable_join_button(true);
      }
      if (isPlayer === "true") {
        enable_leave_button(true);
      }
      return;
    }

    // 5) if the game is active => only the current-turn player can act or leave
    if (gameStatus === "active") {
      if (isPlayer === "true") {
        if (currentTurnUsername === username) {
          enable_action_buttons(true);
          enable_leave_button(true);
        }
      }
    }
  }



  // -------------------------------------------------------------
  // Executed on page load
  // -------------------------------------------------------------
  window.onload = function() {

    // Update buttons state
    buttonsStateMachine(gameStatus, gamePhase, currentTurnUsername, username, isPlayer);
   
    // Load initial community cards
    loadInitialCommunityCards();
   
  };


// -------------------------------------------------------------
// Initial WebSocket Connection
// -------------------------------------------------------------
connectWebSocket();

</script>

{% endblock %}