{% extends "game/base.html" %} 
{% block title %}{{ game.name }} -  ♦︎ ♣︎ ♥︎ ♠︎{% endblock %}
{% block content %}
{% comment %}
Main game interface for active poker tables.
Includes:
- Game metadata and status
- Community cards and player lists
- Buttons for poker actions (fold, bet, etc.)
- Real-time updates using WebSockets
{% endcomment %}

<div class="bg-gray-800 rounded-lg w-full py-2 px-4 pb-8 text-center">
<!---------------------------------------------------------------------------
Game information
---------------------------------------------------------------------------->

<div class="md:w-3/5 lg:w-1/2 p-4 mx-auto">
  <h1 class="text-xl md:text-2xl my-2">{{ game.name }}</h1>
  <div class="text-sm">{{ game.get_game_type_display }} ({{ game.get_betting_type_display }}) {{ game.max_players}}&nbsp;players.</div>
  <div class="text-sm">Buy-in: {{ game.buy_in }} - Blinds: {{ game.small_blind }}&nbsp;/&nbsp;{{ game.big_blind }}</div>
  <div class="text-sm">Game status: <span id="game-status" style="text-transform: capitalize;">{{ game.status }}</span> (<span id="current-phase" style="text-transform: capitalize;">{{ game.current_phase }}</span>)</div>
  
  <!-- Join / Leave Table Button  -->
    <button id="join-button" onclick="sendJoin()" 
      class="my-4 p-2 mr-2 bg-emerald-600 hover:bg-emerald-500 text-white rounded-lg text-center shadow-xl">Join Table</button>
    <button id="leave-button" onclick="sendLeave()" 
      class="my-4 p-2 bg-red-900 hover:bg-red-800 text-white rounded-lg text-center shadow-xl">Leave Table</button>
</div>

<!---------------------------------------------------------------------------
Players List
---------------------------------------------------------------------------->
<ul id="players-list" class="flex flex-wrap justify-center gap-4 w-full my-4 p-4"></ul>


<!---------------------------------------------------------------------------
Community cards
---------------------------------------------------------------------------->
<span id="community-cards" style="display: none;">{{ game.community_cards }}</span>

  <div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">
  <h2 class="text-xl">Community cards</h2>
  <div>
    Total Pot : <span id="current-pot">
     <script>
      pot = {{ game.get_pot}};
      document.write(pot.toLocaleString('fr-CA'));  
     </script>
    </span>
  </div>
  <div class="flex flex-col my-6">
    <div class="flex gap-2" id="communityCardsContainer"></div>
  </div>
  
</div>


  <!---------------------------------------------------------------------------
  Player cards and actions
  ---------------------------------------------------------------------------->
  <div class="flex flex-col items-center md:w-3/5 lg:w-1/2 p-4 bg-emerald-800 rounded-lg mb-8 mx-auto">

    <div class="text-l">Your cards</div>
    <div class="flex gap-2 pt-2 pb-6" id="hole-cards"></div>

  <div class="flex gap-4">
      <button onclick="sendAction('fold')" class="bg-red-500 px-4 py-2 rounded shadow-xl action-button">Fold</button>
      <button onclick="sendAction('check')" class="bg-yellow-500 px-4 py-2 rounded shadow-xl action-button">Check</button>
      <button onclick="sendAction('call')" class="bg-green-500 px-4 py-2 rounded shadow-xl action-button">Call</button>
      <button class="bg-blue-500 px-4 py-2 rounded shadow-xl action-button">All-in</button>
  </div>
  <div class="flex gap-4 mt-4">
      <input type="number" id="bet-amount" placeholder="Bet Amount" min="1" max="999999999" value="{{ game.big_blind }}" 
        oninput="validateBetInput(this)" class="bg-gray-600 text-white p-2 rounded shadow-xl">
      <button onclick="placeBet()" class="bg-purple-500 px-4 py-2 rounded shadow-xl action-button">Bet</button>
  </div>
</div>

<!---------------------------------------------------------------------------
Messages
---------------------------------------------------------------------------->

  <div class="text-left md:w-3/5 lg:w-1/2 p-4 mx-auto">
    <h2 class="text-lg md:text-xl my-2">Last messages</h2>
    <ul id="action-messages"></ul>
  </div>

</div>


<!---------------------------------------------------------------------------
End of HTML














Javascript  
---------------------------------------------------------------------------->

<script>

  let gameId = "{{ game.id }}";  // Get the game ID
  let username = "{{ request.user.username }}";  // Get the current user's name
  let reconnectInterval = 5000;  // 5 seconds before trying to reconnect
  let currentTurnUsername = "{{ current_turn_username }}";  // Get initial turn username
  let gamePhase = "{{ game.current_phase }}";
  let gameStatus = "{{ game.status }}";
  let isPlayer = "{{ is_player }}";


  /* -----------------------------------------------------------------------
  * Establishes WebSocket connection to the backend.
  * Handles real-time updates, reconnects, and message parsing.
  * ----------------------------------------------------------------------*/
  function connectWebSocket() {

    socket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);
    socket.onopen = function () {
      document.getElementById("action-messages").innerHTML = "";
    };

    socket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      console.log("🔵 WebSocket Message Received:", data); // Debug


      if (data) {

        // Alert user if error detected
        if (data.error !== undefined) {
          alert(data.error);
        }

        // Update buttons state
        if (data.type === "update_game_state") {
          let gameStatus = data.game_status;
          let currentUsername = data.current_username;
          let currentPhase = data.current_phase;
          buttonsStateMachine(gameStatus, currentPhase, currentUsername, username, isPlayer);
        }

         // Update game status
        if (data.game_status !== undefined) {
          document.getElementById("game-status").innerText = data.game_status;
        }

        // Update game phase
        if (data.current_phase !== undefined) {
          document.getElementById("current-phase").innerText = data.current_phase;
        }

        // Update current pot
        if (data.pot !== undefined) {
          num = data.pot.toLocaleString('fr-CA');
          document.getElementById("current-pot").innerText = num;
        }

        // Update community cards
        if (data.community_cards !== undefined) {
          displayCards(data.community_cards, "communityCardsContainer");
        }

        // Display hole cards if available
        if (data.hole_cards && data.hole_cards.length > 0) {
          displayCards(data.hole_cards, "hole-cards");

        }

        // Update total user chips
        if (data.total_user_chips >= 0) {
          num = data.total_user_chips.toLocaleString('fr-CA');
          document.getElementById("total_user_chips").innerText = num;
        }
        

        // Update current turn player
        // if (data.current_turn !== undefined) {
        //   document.getElementById("current-turn").innerText =
        //     data.players.find(p => p.position === data.current_turn)?.username || "";
        // }

        // Update players list
        if (data.players) {
          renderPlayersList(data.players, "players-list");
          let isPlayer = data.players.some(player => player.username === username);
          let playerCount = data.players.length;
          let maxPlayers = parseInt("{{ game.max_players }}");
        }


      }
      
    
      // Display messages
      if (data.messages) {
          
          let messagesList = document.getElementById("action-messages");
          messagesList.innerHTML = ""; 

          // Ensure the `ul` element exists before modifying
          if (!messagesList) {
              console.error("Error: 'action-messages' element not found!");
              return;
          }
          data.messages.forEach(msg => {
              let li = document.createElement("li");
              li.innerText = msg;
              messagesList.insertBefore(li, messagesList.firstChild);
          });
      }

    };


    socket.onclose = function (event) {
      console.warn("WebSocket Disconnected. Reconnecting in 5 seconds...");
      setTimeout(connectWebSocket, reconnectInterval);  // Auto-reconnect
    };


    socket.onerror = function (error) { 
      socket.close();  // Force reconnect on error
    };

  }

  /* -----------------------------------------------------------------------
  * Sends a poker action (fold, call, etc.) to the backend.
  * @param {string} action - Poker action keyword.
  * ----------------------------------------------------------------------*/
  function sendAction(action) {
    if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify({ action: action, player: username }));
    } else {
        console.warn("WebSocket is not open.");
    }
  }


  /* -----------------------------------------------------------------------
  * Sends a join request for the current user via WebSocket.
  * ----------------------------------------------------------------------*/
  function sendJoin() {
    if (socket.readyState === WebSocket.OPEN) {
      socket.send(JSON.stringify({ action: "join", player: username }));
      isPlayer = "true";
    } else {
        console.warn("WebSocket is not open.");
    }
  }


  /* -----------------------------------------------------------------------
  * Sends a leave request for the current user via WebSocket.
  * ----------------------------------------------------------------------*/
  function sendLeave() {
    if (socket.readyState === WebSocket.OPEN) {
      document.getElementById("hole-cards").innerText = ""
      socket.send(JSON.stringify({ action: "leave", player: username }));
      isPlayer = "false";
    } else {
        console.warn("WebSocket is not open.");
    }
  }








  /* -----------------------------------------------------------------------
  * Ensures the bet amount is between 1 and 999999999.
  * @param {HTMLInputElement} input - Bet input element.
  * ----------------------------------------------------------------------*/
  function validateBetInput(input) {
        if (input.value < 0) {
            input.value = 1;
        } else if (input.value > 999999999) {
            input.value = 999999999;
        }
    }

  /* -----------------------------------------------------------------------
  * Reads input value and sends a valid bet to the backend.
  * ----------------------------------------------------------------------*/
  function placeBet() {
        var betAmount = document.getElementById("bet-amount").value;
        if (betAmount >= 1 && betAmount <= 999999999) {
            sendBet(parseInt(betAmount));  // Call your betting function
        } else {
            alert("Invalid bet amount! Please enter a value between 1 and 999999.");
        }
  }
  
  /* -----------------------------------------------------------------------
  * Sends a bet action with the specified amount.
  * @param {number} amount - Bet amount.
  * ----------------------------------------------------------------------*/
  function sendBet(amount) {
    socket.send(JSON.stringify({ action: "bet", player: username, amount: amount }));
  }



  /* -----------------------------------------------------------------------
  * Renders a list of cards into a container.
  * @param {Array<string>} cards - List of card strings (e.g., ["As", "Kd"]).
  * @param {string} containerId - DOM container ID.
  * ----------------------------------------------------------------------*/
  function displayCards(cards, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ""; // Clear previous cards

    cards.forEach(card => {
        let rank, suit, icon, color = "black";
      
        rank = card[0]; // A, K, Q, J, 9, etc.
        suit = card[1]; // d, c, h, s
        icon = "♠︎";

        if (suit == "d") {
          icon = "♦︎";
          color = "red";
        } else if (suit == "c") {
          icon = "♣︎";
        } else if (suit == "h") {
          icon = "♥︎";
          color = "red";
        }

        if (rank == "T") {
          rank = "10";
        }

        const div = document.createElement("div");
        div.className = `card ${color} shadow-xl`;
        div.innerHTML = `${rank}${icon}`;
        container.appendChild(div);
    });
  }


  /* -----------------------------------------------------------------------
  * Parses hidden card data from DOM and renders it visually.
  * ----------------------------------------------------------------------*/
  function loadInitialCommunityCards() {
      const communityCardsText = document.getElementById("community-cards").innerText.trim();

      // Ensure we have valid data
      if (communityCardsText.length > 0 && communityCardsText !== "[]") {
          try {
              // Convert raw Django output to a clean array format
              let communityCardsArray = communityCardsText.replace(/[\[\]']/g, "").split(", ");
              displayCards(communityCardsArray, "communityCardsContainer");
          } catch (error) {
              console.error("Error parsing community cards:", error);
          }
      }
    }


  
  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_action_buttons(status) {
    let actionButtons = document.querySelectorAll(".action-button");
    actionButtons.forEach(button => {
      if (status) {
        button.disabled = false;  // Enable for current turn user
        button.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
      } else {
        button.disabled = true;  // Disable for current turn user
        button.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
      }
    });
  }


  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_join_button(status) {
    let joinButton = document.getElementById("join-button");

    if (status === true) {
      joinButton.disabled = false;
      joinButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      joinButton.disabled = true;
      joinButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }
    
  }


  /* -----------------------------------------------------------------------
  * Enables/disables action buttons based on game state.
  * @param {boolean} status - True to enable, false to disable.
  * ----------------------------------------------------------------------*/
  function enable_leave_button(status) {
    let leaveButton = document.getElementById("leave-button");

    if (status === true) {
      leaveButton.disabled = false;
      leaveButton.classList.remove("disabled:bg-gray-600", "disabled:text-gray-400");
    } else {
      leaveButton.disabled = true;
      leaveButton.classList.add("disabled:bg-gray-600", "disabled:text-gray-400");
    }

  }


  /* -----------------------------------------------------------------------
  * Central function that manages button visibility and states.
  * @param {string} gameStatus - "waiting", "active", "finished"
  * @param {string} gamePhase - Current game phase
  * @param {string} currentTurnUsername - Who is currently acting
  * @param {string} username - The current user's name
  * @param {string} isPlayer - "true" if user is seated at table
  * ----------------------------------------------------------------------*/
  function buttonsStateMachine(
    gameStatus,
    gamePhase,
    currentTurnUsername,
    username,
    isPlayer
  ) {
   
    // 1) disable everything by default
    enable_action_buttons(false);
    enable_join_button(false);
    enable_leave_button(false);

   
    // 2) if the game is finished => any seated player can leave
    if (gameStatus === "finished") {
      if (isPlayer === "true") {
        enable_leave_button(true);
      }
      return;
    }

    // 3) if we are in showdown => no one can act,
    if (gamePhase === "showdown") {
      return;
    }

    // 4) if the game is waiting => non-players can join; players can leave
    if (gameStatus === "waiting") {
      if (isPlayer === "false") {
        enable_join_button(true);
      }
      if (isPlayer === "true") {
        enable_leave_button(true);
      }
      return;
    }

    // 5) if the game is active => only the current-turn player can act or leave
    if (gameStatus === "active") {
      if (isPlayer === "true") {
        if (currentTurnUsername === username) {
          enable_action_buttons(true);
          enable_leave_button(true);
        }
      }
    }
  }


  /* -----------------------------------------------------------------------
  * Displays all players and their statuses (dealer, SB, BB, next to act).
  * @param {Array} players - List of player objects from backend
  * @param {string} containerId - ID of the HTML element where to render players
  * ----------------------------------------------------------------------*/
  function renderPlayersList(players, containerId = "players-list") {
    
    const playerList = document.getElementById(containerId);
    // In case the container doesn't exist or has changed
    if (!playerList) return;

    // We re-apply the flex + layout classes
    playerList.setAttribute("class","flex flex-wrap justify-center gap-4 w-full my-4 p-4");

    // Clear existing
    playerList.innerHTML = "";

    // For each player object
    players.forEach(player => {
      const li = document.createElement("li");
      li.setAttribute("data-position", player.position);
      li.setAttribute("class", "flex flex-col items-center p-2 rounded-lg w-36 sm:w-1/2 lg:w-[18%] shadow-lg");
      
      // Dealer marker
      const dealerMarkup = player.is_dealer
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-black" style="background-color: white;">D</span>`
        : "";

      // Small blind
      const smallBlindMarkup = player.is_small_blind
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-white" style="background-color: blue;">S</span>`
        : "";

      // Big blind
      const bigBlindMarkup = player.is_big_blind
        ? `<span class="inline-flex items-center justify-center w-6 h-6 rounded-full border border-black text-black" style="background-color: yellow;">B</span>`
        : "";

      // Next to play ?
      if (player.is_next_to_play) {
        li.classList.add("bg-emerald-800");
        nextMarkup = `<span class="items-center justify-center text-white text-sm">Your turn</span>`;
      } else {
        li.classList.add("bg-gray-700");
        nextMarkup = "";
      }

      // Build the list item’s innerHTML
      li.innerHTML = `
        <span class="text-base">
          <span class="inline-block w-3 h-3 border border-white mr-1" style="background-color: ${player.avatar_color};"></span> 
          ${player.username}
        </span>
        <span class="text-sm">Table chips: ${player.game_chips}</span>
        <span class="text-sm">Bet: ${player.current_bet}</span>
        <span class="text-sm font-bold my-2">
          ${dealerMarkup}
          ${smallBlindMarkup}
          ${bigBlindMarkup}
        </span>
         ${nextMarkup}
      `;

      playerList.appendChild(li);
    });
  }






  /* -----------------------------------------------------------------------
  * Initializes UI state and renders players/community cards on page load.
  * ----------------------------------------------------------------------*/
  window.onload = function() {

    // Update buttons state
    buttonsStateMachine(gameStatus, gamePhase, currentTurnUsername, username, isPlayer);
   
    // Load initial community cards
    loadInitialCommunityCards();
   
    // Load player's list
    let playersData = JSON.parse('{{ players_json|safe }}');
    renderPlayersList(playersData, "players-list");

  };


/* -----------------------------------------------------------------------
* Initial WebSocket Connection
* ----------------------------------------------------------------------*/
connectWebSocket();

</script>

{% endblock %}